@import "../../../styles/settings";
.container {
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-background-color;
  box-sizing: border-box;

  .subContianerWrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    font-family: "Lato", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    animation: slideUp 1s ease-out both;
    h5 {
      font-size: 2.5rem;
      margin: 0;
      letter-spacing: -2.5px;
    }
    p {
      font-size: 0.8rem;
    }
    .subText {
      color: $sub-paragraph-color;
    }
  }
}

.gamesListWrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gameCardwrapper {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 1rem 1rem 1.5rem 0.5rem rgba(52, 85, 157, 0.1) !important;
  border-radius: 6px;
  margin: 20px 30px;
  border: none;
  animation: slideUp 1s ease-out both;
  cursor: pointer;

  .iconWrapper {
    border-radius: 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }
  svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gameCardwrapper:hover {
  box-shadow: 0rem 0rem 0.8rem 0.1rem rgba(162, 164, 164, 0.239) !important;
  transition: all 500ms;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
